<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/inventory" data-no-turbolink>Clearance Uploader</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class='<%=params[:controller] == "inventory" ? "active" : ""%>'><a href="/inventory" data-no-turbolink>Uploader</a></li>
        <li class='<%=params[:controller] == "reports" ? "active" : ""%>'><a href="/reports">Reports</a></li>
        <%if ENV['DEBUG_ITEMS'] %>
          <li><a href="<%=inventory_path('item')%>">Items</a></li>
          <li><a href="<%=inventory_path('style')%>">Styles</a></li>
        <%end%>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>