<html lang: "en">
<head>
  <title> Pictacular Analytic</title>
  <%=wicked_pdf_stylesheet_link_tag "application", media: 'all'%>
  <%=wicked_pdf_stylesheet_link_tag "print", media: 'all'%>
</head>
<body>
  <section id='container'>  
    <section id='main-content'>
      <%= yield %>
    </section>
  </section>
</body>
</html>